* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
}
header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
  width: 90%;
  margin: auto;
}
.nav-left {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  border: 2px solid white;
}
nav h1 {
  font-size: 1.8rem;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
section {
  padding: 2rem 5%;
  background: #fff;
  margin: 1rem auto;
  border-radius: 8px;
  max-width: 1000px;
}
footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
}
